#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&soft_off { hold-time-ms = <2000>; };

&mt {
    tapping-term-ms = <350>;
    flavor = "balanced";
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_UP>;
            ccw-binding = <&kp C_VOL_DN>;
        };

        rsr_trans: rsr_trans {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <0>;
        };

        Custom_combi: Custom_combi {
            compatible = "zmk,behavior-hold-tap";
            label = "CUSTOM_COMBI";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <500>;
            flavor = "balanced";
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB    &kp Q           &kp W           &kp E             &kp R               &kp T                      &none         &kp Y        &kp U                &kp I                          &kp O                              &kp P                         &kp BSPC
&td0       &mt LEFT_ALT A  &mt LEFT_GUI S  &mt LEFT_SHIFT D  &mt LEFT_CONTROL F  &kp G               &none  &none  &none  &kp H        &mt RIGHT_CONTROL J  &mt RIGHT_SHIFT K              &mt RIGHT_GUI L                    &Custom_combi COLON SEMI      &Custom_combi DOUBLE_QUOTES SINGLE_QUOTE
&kp LCTRL  &kp Z           &kp X           &kp C             &kp V               &kp B      &none           &none         &kp N        &kp M                &Custom_combi LESS_THAN COMMA  &Custom_combi GREATER_THAN PERIOD  &Custom_combi QUESTION SLASH  &mt LANG_HANGEUL ESCAPE
                                           &lt 5 ESCAPE      &lt 3 SPACE         &lt 4 TAB                                &lt 2 ENTER  &lt 1 RIGHT_ALT      &lt 6 DEL
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        Num_layer {
            display-name = "NUMBER";
            bindings = <
&none  &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT                   &none         &none  &none   &none  &none  &none  &none
&none  &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL           &none  &none  &none  &none  &none   &none  &none  &none  &none
&none  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH   &none           &none         &none  &none   &none  &none  &none  &none
                          &kp DOT  &kp N0  &kp MINUS                                &none  &trans  &none
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        Sym_layer {
            display-name = "SYMBOL";
            bindings = <
&none  &kp LEFT_BRACE  &kp AMPERSAND    &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE                  &none         &none   &none  &none  &none  &none  &none
&none  &kp COLON       &kp DOLLAR       &kp PERCENT           &kp CARET              &kp PLUS                  &none  &none  &none  &none   &none  &none  &none  &none  &none
&none  &kp TILDE       &kp EXCLAMATION  &kp AT_SIGN           &kp HASH               &kp PIPE         &none           &none         &none   &none  &none  &none  &none  &none
                                        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE                                 &trans  &none  &none
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        Nav_Layer {
            display-name = "NAVIGATION";
            bindings = <
&none  &none  &none  &none  &none   &none                  &none         &kp LG(LS(Z))  &kp LG(LEFT)   &kp UP_ARROW  &kp LG(RIGHT)  &kp PAGE_UP     &kp LG(X)
&none  &none  &none  &none  &none   &none           &none  &none  &none  &kp LG(Z)      &kp LEFT       &kp DOWN      &kp RIGHT      &kp PAGE_DOWN   &kp LG(C)
&none  &none  &none  &none  &none   &none  &none           &none         &kp CLCK       &kp LA(LEFT)   &none         &kp LA(RIGHT)  &kp SCROLLLOCK  &kp LG(V)
                     &none  &trans  &none                                &kp ENTER      &kp BACKSPACE  &kp DEL
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        Mouse_Layer {
            bindings = <
&none  &none  &none  &none  &none  &none                   &none         &mkp MB5   &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &none  &kp LG(X)
&none  &none  &none  &none  &none  &none            &none  &none  &none  &mkp MB4   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &kp LG(C)
&none  &none  &none  &none  &none  &none   &none           &none         &none      &msc SCRL_UP    &none           &msc SCRL_DOWN   &none  &kp LG(V)
                     &none  &none  &trans                                &mkp LCLK  &mkp MCLK       &mkp RCLK
            >;

            label = "Mouse";
        };

        Med_Layer {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4  &none                  &none         &none       &none             &kp C_VOL_UP       &none       &kp C_BRI_UP   &none
&none         &none         &none         &none           &none         &none           &none  &none  &none  &none       &kp C_PREV        &kp C_VOLUME_DOWN  &kp C_NEXT  &kp C_BRI_DEC  &none
&none         &none         &bt BT_CLR    &bt BT_CLR_ALL  &none         &none  &none           &none         &none       &none             &none              &none       &none          &none
                                          &trans          &none         &none                                &kp C_STOP  &kp C_PLAY_PAUSE  &kp C_MUTE
            >;

            label = "MEDIA";
        };

        Func_Layer {
            bindings = <
&kp LG(TAB)    &kp F12  &kp F7  &kp F8  &kp F9     &kp LG(LS(NUMBER_4))                  &none         &none           &kp LS(LA(LC(LG(N7))))        &kp LS(LC(LA(LG(N8))))        &kp LS(LC(LA(LG(N9))))        &kp LC(TAB)      &none
&kp LG(GRAVE)  &kp F11  &kp F4  &kp F5  &kp F6     &kp LG(LS(NUMBER_3))           &none  &none  &none  &kp LG(LC(Q))   &kp LS(LC(LA(LG(NUMBER_4))))  &kp LG(L)                     &kp LS(LA(LC(LG(NUMBER_6))))  &kp LC(LS(TAB))  &kp LG(LA(L))
&none          &kp F10  &kp F1  &kp F2  &kp F3     &kp LC(LG(F))         &none           &none         &studio_unlock  &kp LS(LA(LC(LG(NUMBER_1))))  &kp LS(LC(LA(LG(NUMBER_2))))  &kp LS(LA(LC(LG(NUMBER_3))))  &kp LA(ENTER)    &kp LS(LA(F))
                                &none   &kp LG(N)  &kp LG(SPACE)                                       &bootloader     &sys_reset                    &trans
            >;

            label = "FUNCTION";
        };
    };
};
